# These variables have no defaults and must be set for the script to function
ibmcloud_api_key = "example-api-key-1234"
iaas_classic_username = "1234567_example_user@example.com"
iaas_classic_api_key = "example-api-key-1234"
# Name of an ssh key previously uploaded to IBM Cloud: https://cloud.ibm.com/docs/vpc-on-classic-vsi?topic=vpc-on-classic-vsi-managing-ssh-keys
ssh_key = [ "example-ssh-key" ]
domain = "example.com"