127.0.0.1 localhost.localdomain localhost

{% for item in master %}
{{item.public_ip}} {{item.name}}.{{cluster_domain}} {{item.name}}
{% endfor %}
{% for item in lb %}
{{item.public_ip}} {{item.name}}.{{cluster_domain}} {{item.name}}
{% endfor %}
{% for item in workers %}
{{item.public_ip}} {{item.name}}.{{cluster_domain}} {{item.name}}
{% endfor %}