- name: parse interfaces
  set_fact:
    internal_interface="{{ item }}"
  when: hostvars[inventory_hostname]['ansible_{{item}}']['ipv4']['address'] == installer.private_ip
  with_items:
  - "{{ ansible_interfaces }}"
- name: Install required packages
  yum:
    name:
    - dnsmasq
    - epel-release
    - python-jinja2
    - pyOpenSSL
    - python-lxml
    - git
    - httpd-tools
    - java-1.8.0-openjdk-headless
    - python-passlib
    - bind-utils
    state: present
- name: Install ansible
  yum:
    name: ansible
    state: present
- name: Update packages
  yum:
    name: "*"
    state: latest   
- name: Clone Installer Repository
  git:
    clone: yes
    repo: https://github.com/openshift/openshift-ansible.git
    dest: /opt/openshift
    version: release-3.11
- name: Copy ansible hosts
  template:
    dest:  /etc/ansible/hosts
    src: inventory.j2
    owner: root
    group: root
    mode: 0644
    backup: yes
- name: Adding masters to hosts file
  lineinfile:
    path: /etc/hosts
    line: "{{master.private_ip}} {{ master.name }}.{{cluster_domain}} {{master.name}}"
- name: Adding workers to hosts file
  lineinfile:
    path: /etc/hosts
    line: "{{item.private_ip}} {{ item.name }}.{{cluster_domain}} {{item.name}}"
  loop: "{{ workers }}"
- name: Adding installer to hosts file
  lineinfile:
    path: /etc/hosts
    line: "{{installer.private_ip}} {{ installer.name }}.{{cluster_domain}} {{installer.name}}"
- name: Adding domain-needed to dnsmasq.conf
  lineinfile:
    path: /etc/dnsmasq.conf
    regexp: '^#domain-needed'
    line: "domain-needed"
- name: Adding bogus-priv to dnsmasq.conf
  lineinfile:
    path: /etc/dnsmasq.conf
    regexp: '^#bogus-priv'
    line: "bogus-priv"
- name: Adding listen-address to dnsmasq.conf
  lineinfile:
    path: /etc/dnsmasq.conf
    regexp: '^#listen-address='
    line: "listen-address=127.0.0.1,{{ installer.private_ip }}"
- name: Adding interfaces to dnsmasq.conf
  lineinfile:
    path: /etc/dnsmasq.conf
    regexp: '^#interface='
    line: "interface={{ internal_interface }}"
- name: turn off DHCP
  lineinfile:
    path: /etc/dnsmasq.conf
    regexp: '^#no-dhcp-interface='
    line: "no-dhcp-interface="
- name: append address to dnsmasq
  lineinfile:
    path: /etc/dnsmasq.conf
    line: address=/apps.{{ cluster_domain }}/{{ master.private_ip }}
- name: enabling dnsmasq
  systemd:
    name: dnsmasq
    enabled: yes
    state: started
- name: Copy ssh key
  copy:
    src: "{{playbook_dir}}/installer_files/id_rsa"
    dest: /root/.ssh/id_rsa
    mode: '0400'
- name: copy public key
  copy:
    src: "{{playbook_dir}}/installer_files/id_rsa"
    dest: /root/.ssh/id_rsa.pub    
- name: install client tools
  unarchive:
   remote_src: yes
   src: https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
   dest: /usr/local/bin
   exclude:
   - LICENSE
   - README.md
   extra_opts:
   - --strip-components=1
