[OSEv3:children]
masters
nodes
etcd

[OSEv3:vars]
openshift_deployment_type=openshift-enterprise
ansible_ssh_user=root
oreg_auth_user={{rh_user}}
oreg_auth_password={{rh_pass}}
openshift_master_default_subdomain=apps.{{cluster_domain}}
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider'}]
openshift_master_htpasswd_users={'ocpadmin': '$apr1$AeLdhIiN$VTRD43OglLcEyH7bOVXPP0'} #Ch4ngeM3
openshift_registry_selector='node-role.kubernetes.io/compute=true'
etcd_ip={{master.private_ip}}

[nodes:children]
masters
compute

[masters]
{{master.name}}.{{cluster_domain}} openshift_ip={{master.private_ip}} openshift_node_group_name='node-config-master-infra'

[etcd]
{{master.name}}.{{cluster_domain}} openshift_ip={{master.private_ip}}

[compute]
{% for item in workers %}
{{item.name}}.{{cluster_domain}} openshift_ip={{item.private_ip}} openshift_node_group_name='node-config-compute'
{% endfor %}